[submodule "extern/sdl_ttf"]
	path = extern/sdl2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "extern/sdl_image"]
	path = extern/sdl_image
	url = https://github.com/libsdl-org/SDL_image
